@mixin responsive($breakpoint) {
  @if $breakpoint == smallest-bp {
    @media (max-width: 640px) {
      @content;
    }
  }
  @if $breakpoint == small-bp {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == medium-bp {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @if $breakpoint == large-bp {
    @media (max-width: 1280px) {
      @content;
    }
  }
  @if $breakpoint == largest-bp {
    @media (max-width: 1750px) {
      @content;
    }
  }
}

@mixin same-hover-tablet {
  &:hover {
    @content;
  }
  @include responsive(medium-bp) {
    @content;
  }
}

@mixin main-text {
  font-size: 5rem;
  color: $star-command-blue;
  font-weight: bold;
  @include responsive(medium-bp) {
    font-size: 4rem;
  }
  @include responsive(small-bp) {
    font-size: 3rem;
  }
}

@mixin info-card {
  background-color: aliceblue;
  padding: 15px;
  border-radius: 10px;
  transition: outline 0.2s;
  @include same-hover-tablet {
    outline: 2px solid $star-command-blue;
  }
}

@mixin rocket-cursor {
  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size: 24px'><text y='20'>🚀</text></svg>")
      12 12,
    auto;
}

@mixin launchpad-cursor {
  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size: 24px'><text y='20'>📍</text></svg>")
      12 12,
    auto;
}
