@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}

@mixin responsive($breakpoint) {
  @if $breakpoint == smallest-bp {
    @media (max-width: 640px) {
      @content;
    }
  }
  @if $breakpoint == small-bp {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == medium-bp {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @if $breakpoint == large-bp {
    @media (max-width: 1507px) {
      @content;
    }
  }
  @if $breakpoint == largest-bp {
    @media (max-width: 1750px) {
      @content;
    }
  }
}

@mixin main-text {
  font-size: 5rem;
  color: $star-command-blue;
  font-weight: bold;
}

@mixin info-card {
  background-color: aliceblue;
  padding: 15px;
  border-radius: 10px;
  transition: outline 0.2s;
  &:hover {
    outline: 2px solid $star-command-blue;
  }
}

@mixin rocket-cursor {
  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size: 24px'><text y='20'>🚀</text></svg>")
      12 12,
    auto;
}

@mixin launchpad-cursor {
  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size: 24px'><text y='20'>🎯</text></svg>")
      12 12,
    auto;
}
